
<style>
    .ui-dialog-titlebar-close:after {
        content: 'X';
    }

    /*label {
        font-weight: 400;
    }*/
</style>
<link href="~/Content/css/jquery-ui0.css" rel="stylesheet" />
@*class="modal-dialog fixed fade in"*@
<table id="myTable1" style="width:100%;">
    <tr style="width:100%">
        <td style="width:25%"><label style="width:100%;font-weight:bold;font-size: 13px;font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;">Storage Type</label></td>
        <td style="width:20%"> <label style="width:100%;font-weight:bold;font-size: 13px;font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;">Data Type</label></td>
        <td style="width:10%"> <label style="width:100%;font-weight:bold;font-size: 13px;font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;"> Length</label></td>
        <td style="width:15%"> <label style="width:100%;font-weight:bold;font-size: 13px;font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;"> Mandatory</label></td>
    </tr>
</table>

<div style="width:100%">
    <table id="myTable" class="table order-list" style="width:100% ;font-weight:normal;"></table>
    @*<div class="modal-content">
        <div class="modal-body">*@
    <div class="row text-center mt20">
        <input type="button" value="Close" id="btn_cancel" onclick="return Close();" class="btn btn-orange fa-align-center" />
    </div>
    @*</div>

        </div>*@
</div>

<script>
    $(document).ready(function () {
        debugger;
        var group_gid = $("#hdn_ugrp_gid").val();
        $.ajax({
            url: '@Url.Action("GetStorageAttributeValues", "ViewStorageAttributes")',
            type: "POST",
            datatype: "json",
            async: false,
            data: { 'group_gid': group_gid },
            success: function (data) {
                debugger;
                var counter = data.count;
                var data2 = JSON.parse(data.Data1);
                for (i = 0; i < counter; i++) {
                    var newRow = $("<tr  width='100%'>");
                    var cols = "";
                    cols += '<td style="width:25%"><label  name="name' + i + '" id="name' + i + '" style="font-weight:normal;font-size: 13px;height:3px;font-family:Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;">'+data2[i].Satr_Name+'</label></td>';
                    //cols += '<td><select  onchange="test(' + i + ')"  id="type' + i + '"><option value="0">Select Type</option><option value="Numeric">Numeric</option><option value="Alpha Numeric">Alpha Numeric</option><option value="Amount">Amount</option><option value="Datetime">Datetime</option><option value="Logical">Logical</option><option value="Lov Name">Lov Name</option></select></td>';
                    cols += '<td style="width:20%"><label name="type' + i + '" id="type' + i + '" style="font-weight:normal;font-size: 13px;height:3px;font-family:Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;">' + data2[i].Satr_Type + '</label></td>';
                    cols += '<td style="width:10%"><label name="len' + i + '" id="len' + i + '" style="font-weight:normal;font-size: 13px;height:3px;font-family:Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;">' + data2[i].Satr_Length + '</label></td>';
                    cols += '<td style="width:15%"><label name="mand' + i + '" id="mand' + i + '" style="font-weight:normal;font-size: 13px;height:3px;font-family:Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;">' + data2[i].Satr_Mandotry + '</label></td>';
                    //cols += '<td><input type="radio"  name="mand' + i + '" id="mand' + i + '" value="Y"/>&nbsp;Yes &nbsp;<input type="radio"  name="mand' + i + '" id="mand' + i + '" value="N"/>&nbsp;No</td>'
                    newRow.append(cols);
                    $("table.order-list").append(newRow);
                }
                //for (i = 0; i < counter; i++) {
                //    $("#name" + i).text(data2[i].Satr_Name);
                //    $("#type" + i).text(data2[i].Satr_Type);
                //    $("#len" + i).text(data2[i].Satr_Length);
                //    $("#mand" + i).text(data2[i].Satr_Mandotry);
                //}
            },
            error: function () {
                $.alert({
                    title: 'DMS',
                    content: 'Failed to create..!',
                    type: 'blue',
                });
                return false;
            }
        });
    });
</script>
