<form id="form1" >
    <div>
        <iframe src="http://docs.google.com/viewer?url=http://169.38.82.131:82/dmsdemo/Download/Employee.xlsx&embedded=true" style="width: 100%; height: 650px;"></iframe><br />
    </div>
</form>