<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-menu-collapsed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/Assets/assets/"
  data-template="vertical-menu-template"
>
<head>
  <meta charset="utf-8">
  <title>Training</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- Icons -->
  <link rel="stylesheet" href="/Assets/assets/vendor/fonts/boxicons.css" />
  <link rel="stylesheet" href="/Assets/assets/vendor/fonts/fontawesome.css" />
  <link rel="stylesheet" href="/Assets/assets/vendor/fonts/flag-icons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/Assets/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/Assets/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/Assets/assets/css/demo.css" />
  <link rel="stylesheet" href="/Assets/assets/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

   <!-- Vendors CSS -->
   <link rel="stylesheet" href="/Assets/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
   <link rel="stylesheet" href="/Assets/assets/vendor/libs/typeahead-js/typeahead.css" />
   <link rel="stylesheet" href="/Assets/assets/vendor/libs/fullcalendar/fullcalendar.css" />
   <link rel="stylesheet" href="/Assets/assets/vendor/libs/flatpickr/flatpickr.css" />
   <link rel="stylesheet" href="/Assets/assets/vendor/libs/select2/select2.css" />
   <link rel="stylesheet" href="/Assets/assets/vendor/libs/quill/editor.css" />
   <link rel="stylesheet" href="/Assets/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />

   <!-- Page CSS -->

   <link rel="stylesheet" href="/Assets/assets/vendor/css/pages/app-calendar.css" />

  <!-- Helpers -->
  <script src="/Assets/assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
  <script src="/Assets/assets/vendor/js/template-customizer.js"></script>
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="/Assets/assets/js/config.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
   
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <img class="logo" src="/dms/images/dmsweblogo.png">
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-notepad" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Insider"></i>
                <div data-i18n="Insider">Digitize Document</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                      <a href="archival.html" class="menu-link">
                        <div data-i18n="Manage Insider">Archival</div>
                      </a>
                </li>
                <li class="menu-item">
                  <a href="indexing-list.html" class="menu-link">
                    <div data-i18n="Approve Insider">Indexing</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="archival-indexing.html" class="menu-link">
                    <div data-i18n="Approve Insider">Archival & Indexing</div>
                  </a>
                </li>
            </ul>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-file-doc" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Event"></i>
                <div data-i18n="Event">Manage Documents</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                      <a href="search-retrieval.html" class="menu-link">
                        <div data-i18n="Manage Event">Search & Retrieval</div>
                      </a>
                </li>
                <li class="menu-item">
                  <a href="physical-storage.html" class="menu-link">
                    <div data-i18n="Approve Event">Physical Storage</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="physical-retrieval.html" class="menu-link">
                    <div data-i18n="Approve Event">Physical Retrieval</div>
                  </a>
                </li>
            </ul>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-report" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reports"></i>
                <div data-i18n="Feedback">Reports</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="doc-listing.html" class="menu-link">
                    <div data-i18n="Insider Listing">Document Listing</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="storage-listing.html" class="menu-link">
                    <div data-i18n="Event Listing">Storage Listing</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="original-tracker.html" class="menu-link">
                    <div data-i18n="View Mail">Original Tracker</div>
                  </a>
                </li>
            </ul>
            </li>
        </aside>
        <!-- / Menu -->
    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
              
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              
              <!-- /Search -->
              

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                   <li class="nav-item me-2 me-xl-50" style="margin-right: 20rem !important;">
                    <h5 class="card-header">Dashboard</h5>
                </li>
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item dropdown-language dropdown me-2 me-xl-0">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
              <button type="button" class="btn btn-sm btn-outline-success">English</button>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="javascript:void(0);" data-language="fr">
                  <i class="flag-icon flag-icon-fr flag-icon-squared rounded-circle fs-4 me-1"></i>
                  <span class="align-middle">हिंदी</span>
                </a>
              </li>
            </ul>
          </li>
                <li class="nav-item lh-1 me-1">
                  <i style="cursor:pointer;" class='bx bxs-home' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home" onClick="window.location.href='https://sampledemos.online/dms/dashboard.html';"></i>
                </li>
                <li class="nav-item dropdown-language dropdown lh-1 me-1">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
              <i class='bx bxs-cog' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Settings"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="org-hierarchy.html" data-language="fr">
                  <i class="bx bx-home-alt fs-4 me-1"></i>
                  <span class="align-middle">Organisation Hierarchy</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="masters.html" data-language="fr">
                  <i class="bx bxs-user-pin fs-4 me-1"></i>
                  <span class="align-middle">Masters</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="doc-setup.html" data-language="fr">
                  <i class="bx bxs-notepad fs-4 me-1"></i>
                  <span class="align-middle">Document Setup</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="doc-attributes.html" data-language="fr">
                  <i class="bx bxs-notepad fs-4 me-1"></i>
                  <span class="align-middle">Document Attributes</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="storage-hierarchy.html" data-language="fr">
                  <i class="bx bxs-notepad fs-4 me-1"></i>
                  <span class="align-middle">Storage Hierarchy</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" data-language="fr">
                  <i class="bx bxs-notepad fs-4 me-1"></i>
                  <span class="align-middle">Auto Numbering</span>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item dropdown-language dropdown lh-1 me-1">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
              <i class='bx bxs-user-plus' data-bs-toggle="tooltip" data-bs-placement="bottom" title="User Admin"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="user.html" data-language="fr">
                  <i class="bx bx-user fs-4 me-1"></i>
                  <span class="align-middle">User Mgmt</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="role-management.html" data-language="fr">
                  <i class="bx bx-user fs-4 me-1"></i>
                  <span class="align-middle">Role Mgmt</span>
                </a>
              </li>
            </ul>
          </li>
                <li class="nav-item lh-1 me-3">
                  <i class='bx bxs-bell' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications"></i>
                </li>
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                     <i class='bx bxs-group' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile"></i>
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li style="margin-bottom:-22px;">
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <center><div class="avatar avatar-online">
                              <img src="/dms/images/profile.jpg" alt class="w-px-40 h-auto rounded-circle" />
                            </div></center>
                          </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bxs-smile me-2"></i>
                        <span class="align-middle">Charles</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                        <span class="align-middle">EMP10098</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-envelope me-2"></i>
                        <span class="align-middle">charles@fintantra.in</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">Super Admin</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                        <i class="bx bxs-lock-alt me-2"></i>
                        <span class="align-middle">Change Password</span>
                      </a>
                      <a class="dropdown-item" href="index.html">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown-language dropdown lh-1 me-1">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
              <i class='bx bxs-notepad' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help" style="margin-left: -27px;"></i>
            </a>
          </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->


      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="card-body">
             @RenderBody()
          </div>
          
        <!-- / Content -->

        

        <div class="content-backdrop fade"></div>
        
      </div>
      <!-- Content wrapper -->
      <!-- Footer -->
      <app-main-footer></app-main-footer>
      <!-- / Footer -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>

  <script src="/Assets/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/Assets/assets/vendor/libs/popper/popper.js"></script>
    <script src="/Assets/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="/Assets/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="/Assets/assets/vendor/js/bootstrap.js"></script>
    <script src="/Assets/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Assets/assets/vendor/libs/hammer/hammer.js"></script>


    <script src="/Assets/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/Assets/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="/Assets/assets/vendor/libs/fullcalendar/fullcalendar.js"></script>
    <script src="/Assets/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="/Assets/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="/Assets/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="/Assets/assets/vendor/libs/select2/select2.js"></script>
    <script src="/Assets/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="/Assets/assets/vendor/libs/moment/moment.js"></script>

    <!-- Main JS -->
    <script src="/Assets/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/Assets/assets/js/dashboards-analytics.js"></script>
    <script src="/Assets/assets/js/app-calendar-events.js"></script>
    <script src="/Assets/assets/js/app-calendar.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
	
	
	
</body>
</html>
